[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boxsdk = {extras = ["jwt"], version = "*"}
aws-s3-desktop-uploader = {editable = true, path = "./aws-s3-desktop-uploader"}
pyzbar = "*"
pillow = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.7"
